.info_columns {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 36px;
}

.info_column {
	display: inline;
	min-width: 50%;
}

.info_list {
	max-height: 200px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.glow_effect {
	text-shadow:
		0 0 10px #3333FF40,
		0 0 20px #3333FF80,
		0 0 40px #3333FFAA;
}
