.flex_main {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 600px;
	height: 100%;
}

.flex_cards {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-height: 656px;
	margin: 0;
	padding: 0;
}

.flex_cards_list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 16px;
	padding: 0;
	overflow-y: auto;
}

.constructor_element {
	display: inline-block;
	box-sizing: border-box;
	width: 536px;
	max-height: 80px;
	padding: 16px 24px;
	color: #f2f2f3;
	font-size: 16px;
	font-family: 'Jet Brains Mono', serif;
	line-height: 24px;
	background: #1c1c21;
	border-radius: var(--common-border-radius-s);
}

.constructor_element_pos_top {
	border-radius: var(--top-constructor-item-border-radius);
}

.constructor_element_pos_bottom {
	border-radius: var(--bottom-constructor-item-border-radius);
}

.constructor_element__text {
	line-height: 24px;
	text-align: center;
}
